

body
{	
	padding:0;
	margin:0;
	color:#666666;
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	background:#14293D;
}

@font-face
{
	font-family: fontello;
	src: url('fonts/font/fontello.ttf'),
		 url('fonts/font/fontello.svg'),
		 url('fonts/font/fontello.woff'),
		 url('fonts/font/fontello.eot'); /* IE9 */
} 

@font-face
{
	font-family: Lato;
	src: url('fonts/font/Lato-Light.ttf'),		 
		 url('fonts/font/Lato-Light.eot'); /* IE9 */
} 

@font-face
{
	font-family: Jura;
	src: url('fonts/font/Jura-Medium.ttf'),		 
		 url('fonts/font/Jura-Medium.eot'); /* IE9 */
} 

h1 ,h2 ,h3 ,h4 
{
	color:#5C5C5C;
	padding:.1em;
	font-family: 'Jura', Verdana, sans-serif;
}

h1 a,h2 a,h3 a,h4 a
{
	color:#336699;
	padding:.2em;
}


p
{
	text-indent:2em;
	padding:0 1em;
	line-height:1.5em;
}

a
{
	margin:0;
	padding:0;
	text-decoration:none;
	color:#5C85AD;
}




img
{
	max-width:90%;
	margin:.5em;
	
}

.greekText
{
	color:#858585;
	font-size:.9em;
	font-style:italic;		
}

iframe
{
	display:block;
	margin:0 auto;
	box-shadow:0 0px 8px #CCCCCC;
}



#topbar
{
	position:fixed;
	left:0;
	top:0;
	min-height:5em;
	background:#5C85AD;
	width:100%;
	color:#BFBFBF;
	box-shadow:0 .05em 1.5em #000000;
}

#topWrap
{
	max-width:950px;
	margin:0 auto;
	padding:0 0 0 10px;
	color:#FFFFFF;
}

a#logo
{
	float:left;
	height:5em;
	display:inline-block;
}

a#logo img
{
	margin:10px 1em 10px 0;
	
}

#sitename
{
	float:left;
	font-family: 'Lato', Verdana, sans-serif;
	line-height:3.25em;
	display:inline-block;
	font-weight:bold;
	font-size:1.5em;
	text-shadow:0 .25em .3em #000000;
	margin:0 .5em 0 0;
}

#sitename a
{
	text-decoration:none;
	color:inherit;
}
#slogan 
{
	margin-left:.2em;
	float:left;
	font-family: 'Jura', Verdana, sans-serif;
	text-shadow:0 .25em .3em #000000;
	font-size:1em;
	opacity:.7;		
	line-height:5em;	
}



#topMenu 
{
	
	margin-left:2em;
	
	
}

#topMenu ul
{
	
	margin:0;
	padding:0;
	list-style:none;
	
}

#topMenu a
{
	font-family: 'Lato', Verdana, sans-serif;
	float:right;
	display:block;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 .15em .25em #000000;
	line-height:5em;
	font-size:1em;
	
	padding:0 .5em;
	/* border-right:1px solid rgba(0,0,0,.1); */
	text-align:center;
}

#topMenu a:hover
{
	background:#14293D;
	
}

#topMenu a.icon-twitter
{
	text-shadow:0 .15em .35em #000000;
	
	border-right:none;
}

#topMenu a.current
{
		
	text-decoration:overline;
	cursor:default;	
	background:#5C85AD;
}

.firstRegion
{
	clear:both;
	margin:5em 0 0;
	background: rgb(194,209,224);
	background: -moz-linear-gradient(top,  rgba(194,209,224,1) 0%, rgba(194,209,224,1) 72%, rgba(255,202,202,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(194,209,224,1)), color-stop(72%,rgba(194,209,224,1)), color-stop(100%,rgba(255,202,202,1)));
	background: -webkit-linear-gradient(top,  rgba(194,209,224,1) 0%,rgba(194,209,224,1) 72%,rgba(255,202,202,1) 100%);
	background: -o-linear-gradient(top,  rgba(194,209,224,1) 0%,rgba(194,209,224,1) 72%,rgba(255,202,202,1) 100%);
	background: -ms-linear-gradient(top,  rgba(194,209,224,1) 0%,rgba(194,209,224,1) 72%,rgba(255,202,202,1) 100%);
	background: linear-gradient(to bottom,  rgba(194,209,224,1) 0%,rgba(194,209,224,1) 72%,rgba(255,202,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2d1e0', endColorstr='#ffcaca',GradientType=0 );
	overflow:auto;
	
}

.regWrap
{
	max-width:960px;
	
	background:rgba(255,255,255,.9);
	margin:0 auto;
	overflow:auto;
}

.featImg
{
	width:auto;
	background:#191919;
}

.feature img
{
	margin:0em auto .2em;	
	max-height:300px;
	display:block;
}

.featText
{
	padding:0 30px;
}

.contRead a
{
	float:right;
	color:#5C85AD;
	text-decoration:none;
	margin-top:-1em;
	margin-bottom:1em;
	line-height:2em;
}

.contRead a:after
{
	content:"\00BB";
	margin-left:.2em;
}

.diagonBreak, .diagonBreak2
{
	height:30px;
	background:url('images/diagon.png');
	border-top:5px solid #000000;
	clear:both;
}

.facts, .date
{
	color:#858585;
	font-size:.8em;
	margin:-1em 1em 2em;
	
}

.facts
{
	float:left;
}

.date
{
	float:right;
}

.date:before
{
	content:"posted on:";
	margin-right:1em;
}

.article p a:hover
{
	text-decoration:underline;
}

.diagonBreak2
{
	background:url('images/diagon2.png');
	border-bottom:5px solid #000000;
	border-top:none;
}

.aboutText
{
	padding:2em;
	text-align:center;
	font-size:1.2em;
}

.secRegion div.aboutText
{
	text-align:left;
	font-size:.9em;
	padding-top:2em;
}

.secRegion div.aboutText img
{
	border:.3em solid #14293D;
	border-radius:.3em;
	margin:.5em auto;
	display:block;
}

.breakLine
{
	width:20%;
	border-bottom:.1em solid #666666;
	border-radius:2em;
	margin:1.5em auto .3em;
	height:.15em;
	overflow:hidden;
	text-align:center;
	
	
}
#share
{
	
	
	margin:4em 0 0;
	
	text-align:right;
	height:auto;
	
	
}
#share ul
{
	list-style:none;
	padding:0;
	margin:0;
	height:30px;
	font-size:.7em;
}

#share li
{
	display:inline-block;
	vertical-align:middle;
	
}

#share li a
{
	width:30px;
	height:30px;
	display:inline-block;
	border-radius:10em 0.2em 10em 0.2em;
	box-shadow:0 4px 2px #999999;
}

#share li a:hover
{
	opacity:.7;
	box-shadow:0 4px 2px #CCCCCC;
}

#share li a.tweetit
{
	
	background:url('images/share_icons.png') 0 0;
	margin:0 .5em 0 .5em;
}

#share li a.fbsend
{
	
	background:url('images/share_icons.png') 0 -30px;
	
}



.breakLine:after
{
	
	border:.1em solid #666666;
	border-radius:2em;
	margin:1.5em auto .3em;
	content:"----";
	background:#666666;
	
}

				/* articles list */

.articleList h2
{
	text-align:center;
}

a.articleEntry
{
	margin-bottom:2em;
	padding:1em 0;
	border-bottom:.2em solid #cccccc;
	box-shadow:0 .5em .5em #cccccc;
	color:inherit;
	display:block;
	
	
}

a.articleEntry:hover
{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzk3YzJlNSIgc3RvcC1vcGFjaXR5PSIwLjE4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2FiYzllMyIgc3RvcC1vcGFjaXR5PSIwLjQ4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmQxZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(151,194,229,0.18) 37%, rgba(171,201,227,0.48) 67%, rgba(194,209,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(37%,rgba(151,194,229,0.18)), color-stop(67%,rgba(171,201,227,0.48)), color-stop(100%,rgba(194,209,224,1)));
	background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(151,194,229,0.18) 37%,rgba(171,201,227,0.48) 67%,rgba(194,209,224,1) 100%);
	background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(151,194,229,0.18) 37%,rgba(171,201,227,0.48) 67%,rgba(194,209,224,1) 100%);
	background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(151,194,229,0.18) 37%,rgba(171,201,227,0.48) 67%,rgba(194,209,224,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(151,194,229,0.18) 37%,rgba(171,201,227,0.48) 67%,rgba(194,209,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#c2d1e0',GradientType=0 );






}


.articleEntry  ul
{
	padding:0;
	margin:0 .5em;
	list-style:none;
	
}

.articleEntry  li
{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	
}

.entryImage
{
	width:20%;
	
}

.entryImage img
{
	width:70%;
	border-radius:.3em;
	border:.3em solid #14293D;
}
.entryTitle
{
	width:30%;
	font-size:95%;
	font-family: 'Jura', Verdana, sans-serif;
	
}

.entryTitle span
{
	vertical-align:middle;
}

.entrySum
{
	width:30%;
	color:#858585;
	font-style:italic;
	font-size:80%;
}

.entryDate
{
	width:16%;
	font-size:80%;
}


.secRegion
{	
	margin-top:-2px;
	background:#FFCACA;
	
}



#boxed
{
	overflow: hidden;	
}

.mainBox,
.footBox
{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-bottom:.1em solid rgba(0,0,0,.2);
	border-left:.1em solid rgba(20,41,61,.1);
	border-radius:.4em;
	box-shadow:0px 10px 5px rgba(20,41,61,.3);
	padding:1em 2em;
	margin-top:2em;
	width:50%;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	float:left;
}

.mainBox img
{
	float:right;
	max-width:40%;
	max-height:40%;
	margin:1em 0 1em 1em;
	border:.3em solid #14293D;
	border-radius:.3em;
}

.articleMore
{
	margin:4em 2em 2em;
	font-size:.9em;
}

.articleMore a:hover
{
	text-decoration:underline;
}


.listen
{
	margin:1em 0;
}

.bottomRegion
{
	background: #456789;
	min-height:300px;
	margin-top:-2px;
}

#footer
{
	max-width:960px;
	margin:0 auto;
	overflow:auto;

}

.rectangle
{
	height:3em;
	background:#000000;
	border-bottom-left-radius:.5em;
	border-bottom-right-radius:.5em;
	box-shadow:0 .02em .5em #000000;
}

.bottomMenu
{
	text-align:center;
	margin:2em 0;
}

.bottomMenu a
{
	position:relative;
	bottom:0;
	text-decoration:none;
	color:#000000;
	font-family: 'Jura', Verdana, sans-serif;
	background: #ffffff;
	background: -moz-linear-gradient(left,  rgba(106,117,127,1) 0%, rgba(106,117,127,1) 0%, rgba(255,255,255,1) 77%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(106,117,127,1)), color-stop(0%,rgba(106,117,127,1)), color-stop(77%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(106,117,127,1) 0%,rgba(106,117,127,1) 0%,rgba(255,255,255,1) 77%);
	background: -o-linear-gradient(left,  rgba(106,117,127,1) 0%,rgba(106,117,127,1) 0%,rgba(255,255,255,1) 77%);
	background: -ms-linear-gradient(left,  rgba(106,117,127,1) 0%,rgba(106,117,127,1) 0%,rgba(255,255,255,1) 77%);
	background: linear-gradient(to right,  rgba(106,117,127,1) 0%,rgba(106,117,127,1) 0%,rgba(255,255,255,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a757f', endColorstr='#ffffff',GradientType=1 );
	border:2px solid #000000;
	border-radius:100%;
	width:4.5em;
	height:4.5em;
	display:inline-block;
	line-height:4.5em;
	font-size:1.2em;
	margin-left:-1em;
	text-shadow:.0.15em .15em #555555;
	z-index:-1;
	box-shadow:0 .6em .2em -.4em rgba(0,0,0,.6);
	-moz-transition: bottom 0.7s ease 0.1s;	
	-webkit-transition: bottom 0.7s ease 0.1s;
	-o-transition: bottom 0.7s ease 0.1s;	
	transition: bottom 0.7s ease 0.1s;	
	
}

@-webkit-keyframes rotate 
	{ from 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			box-shadow:none;
		}
	  to
		
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
		}
	}
	
@-moz-keyframes rotate 
	{ from 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			box-shadow:none;
		}
	  to
		
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
		}
	}

@-ms-keyframes rotate 
	{ from 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			box-shadow:none;
		}
	  to
		
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
		}
	}

@-o-keyframes rotate 
	{ from 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			box-shadow:none;
		}
	  to
		
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
		}
	}

@keyframes rotate 
	{ from 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			box-shadow:none;
		}
	  to
		
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
		}
	}
	
.bottomMenu a:hover
{
	bottom:.5em;
	z-index:999;
	
	-webkit-animation: rotate 1s forwards;
    -moz-animation: rotate 1s forwards;
    -o-animation: rotate 1s forwards;
    animation: rotate 1s forwards;
	box-shadow:0 .6em .2em -.4em rgba(255,255,255,.6);
}

a.botArticles
{
	margin-left:0;
	z-index:999;
	


}

a.botAbout
{
	
	z-index:998;
	
}

a.botrss
{
	
	z-index:997;
	
}

a.botTwitter
{
	
	z-index:996;
	
}

#copyRight
{
	font-family: 'Jura', Verdana, sans-serif;
	text-align:center;
	color:#cccccc;
	margin-bottom:1em;
}

#copyRight img
{
	opacity:.7;
}


.clearfix
{
	clear:both;
}

.borderNone
{
	border:none;
}


#backtotop
{
	font-weight:900;
	font-size:1.5em;
	border:2px solid #000000;
	width:40px;
	text-align:center;
	padding:0.4em;
	cursor:pointer;
	position:fixed;
	bottom:1em;
	left:90%;
	opacity:0.2;
	color:#000;
	background:#000000;
	color:#ffffff;
	border-radius:3px;
}

#backtotop:hover
{
	background:#000000;
	color:#ffffff;
	opacity:1;
}