#mc_embed_signup
{
	background-color:transparent;
	font-size:95%;
	
}

#mc_embed_signup form h2
{
	margin-bottom:2em;
}

#mc_embed_signup form > span
{
	display:block;
	margin-bottom:1em;
}

#mc_embed_signup .button
{
	background-color:#5C85AD;
}

#mc_embed_signup .button:hover
{
	background-color:#14293D;
}

#mc_embed_signup form .mc-field-group div
{
	font-size:85%;
	font-style:italic;
}

#mc_embed_signup > div:last-child
{
	text-align:right;
	font-size:90%;
	margin-top:3em;

}

@media only screen and (max-width:480px),
@media only screen and (max-device-width:480px),
{
	#mc_embed_signup form > span
		{
			margin-bottom:2em;
		}
		
	#mc_embed_signup form .input-group
		{
			margin-top:1em;
			margin-bottom:2em;	
		}			

	#mc_embed_signup .mc-field-group.input-group ul li 
		{
			margin-bottom:.5em;
		}
	
	#mc_embed_signup form .mc-field-group div
		{
			margin-bottom:1em;
		}
}